<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền truy cập vào bộ nhớ ngoài -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PRM392_Group2_SneakerZone"
        tools:targetApi="31">

        <!-- Danh sách các activity trong ứng dụng -->
        <activity
            android:name=".controller.EditStoreActivity"
            android:exported="false" />
        <activity
            android:name=".controller.AddStoreActivity"
            android:exported="false" />
        <activity
            android:name=".controller.StoreManagement"
            android:exported="false" />
        <activity
            android:name=".controller.EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".controller.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".controller.UserManagementPage"
            android:exported="false" />
        <activity
            android:name=".controller.CustomerHomePage"
            android:exported="false" />
        <activity
            android:name=".controller.StoreDetailPage"
            android:exported="false">

        </activity>

        <activity
            android:name=".controller.ManagerHomePage"
            android:exported="false" />
        <activity
            android:name=".controller.StoreOwnerHomePage"
            android:exported="false" />
        <activity
            android:name=".controller.AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".controller.BrandManagementPage"
            android:exported="false" />
        <activity
            android:name=".controller.ProductManagementPage"
            android:exported="false" />
        <activity
            android:name=".controller.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controller.StoreOwnerManagePage"
            android:exported="false" />
        <activity
            android:name=".controller.StoreOrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".controller.OrderDetailPage"
            android:exported="false" />
        <activity
            android:name=".controller.ManagerShopOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".controller.AddShopOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".controller.UpdateShopOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".controller.AddProductActivity"
            android:exported="false" />

        <!-- LoginActivity khởi động ứng dụng -->
        <activity
            android:name=".controller.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
